<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css" />
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="sfk9App">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div id="main-navbar"class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><img id="main-navbar__logo" src="images/K9-Logo-White.png" alt="San Francisco k9 Unit" class="img-responsive" ></a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav" ng-if="menu.length > 1">
              <li ng-repeat="item in menu" ng-class="activetab == item.slug ? 'active' : ''">
                <a ng-href="{{ item.slug }}">{{ item.title }}</a>
              </li>
            </ul>
            <ul class="nav navbar-nav load-nav-wrapper">
              <li>
                <a>
                  <span class="loading-nav">
                    <i class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></i><span ng-if="menu.length == 0">  Loading ...</span>
                  </span>
                </a>
              </li>
            </ul>
            <!-- Begin MailChimp Signup Form -->
            <form id="mc-embedded-subscribe-form" class="navbar-form navbar-left validate" action="//sfk9unit.us12.list-manage.com/subscribe/post?u=d95a16f47be2acdbbff34e7f8&amp;id=c2216663af" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
              <input id="mce-EMAIL" class="email form-control" name="EMAIL" required="" type="email" value="" placeholder="Enter email, join pack!" />
            <div style="position: absolute; left: -5000px;"><input tabindex="-1" name="b_d95a16f47be2acdbbff34e7f8_c2216663af" type="text" value="" /></div>
            <input id="mc-embedded-subscribe" class="btn btn-default" name="subscribe" type="submit" value="GO" />
            </form>
            <!--End mc_embed_signup-->
            <ul id="main-navbar__social" class="nav navbar-nav navbar-right sfk9unit-navabar ">
              <li><a href="https://twitter.com/sfk9unit" title="Follow us on Twitter"><i class="fa fa-twitter-square"></i><span class="visible-xs-inline-block"> Twitter</span></a></li>
              <li><a href="https://www.facebook.com/K9UnitSF/" title="Follow us on Facebook"><i class="fa fa-facebook-square"></i><span class="visible-xs-inline-block"> Facebook</span></a></li>
              <li><a href="http://sfk9unit.tumblr.com/" title="Follow us on tumblr"><i class="fa fa-tumblr-square"></i><span class="visible-xs-inline-block">  Tumblr</span></a></li>
              <li><a href="http://telegram.me/sfpah" title="Chat with us telegram"><i class="fa fa-telegram"></i> </a><span class="visible-xs-inline-block">  Telegram Channel</span></li>
              <li><a href="mailto:info@sfk9unit.org" title="Email us"><i class="fa fa-envelope"></i><span class="visible-xs-inline-block">  E-Mail Us</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container">
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
    <script src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/services/k9api.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/components/calendar.js"></script>
        <script src="scripts/controllers/calendar.js"></script>
        <script src="scripts/controllers/page.js"></script>
        <!-- endbuild -->
</body>
</html>
