<div >
  <div class="row">
    <div class="col-md-6 col-md-push-6" ng-if="event">
      <div class="jumbotron">
        <h2>{{event.title}}</h2>
            <ul class="list-group">
              <li class="list-group-item" ng-if="event.start && moreThen1Day(event)">
                <h4 class="list-group-item-heading" >Start</h4>
                <p class="list-group-item-text">{{displayDate(event.start)}}</p>
              </li>
              <li class="list-group-item" ng-if="event.end && moreThen1Day(event)">
                <h4 class="list-group-item-heading">End</h4>
                <p class="list-group-item-text">{{displayDate(event.end)}}</p>
              </li>
              <li class="list-group-item" ng-if="!event.end || !moreThen1Day(event)">
                <h4 class="list-group-item-heading">Time</h4>
                <p class="list-group-item-text">{{ displayDate(event.start)}} - {{displayDate(event.end, 'h:mm a')}}</p>
              </li>
              <li class="list-group-item" ng-if="event.venue.length">
                <h4 class="list-group-item-heading" >Venue</h4>
                <p class="list-group-item-text">{{event.venue}}</p>
              </li>
            </ul>
          <div ng-if="event.body" ng-bind-html="event.body">
          </div>
      </div>
    </div>
    <div ng-class="event ? 'col-md-6 col-md-pull-6' : 'col-md-12'">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default btn-sm" ng-repeat="(key, value) in eventsColours" ng-style="!value.k9noshow ? value.k9style : null" ng-click="value.k9noshow = !value.k9noshow" >{{key}}</button>
      </div>
      <div ng-model="eventSources" ui-calendar="uiConfig"></div>
    </div>
  </div>
</div>
