<div>

  <div ng-if="calendarLoading"><i class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></i>  Loading ...</div>
  <div class="btn-group" role="group" ng-if="!display">
    <button type="button" class="btn btn-default btn-sm" ng-repeat="(key, value) in eventsColours" ng-style="!value.k9noshow ? value.k9style : null" ng-click="value.k9noshow = !value.k9noshow" >{{key}}</button>
  </div>
  <div ng-if="display">
    <a class="btn btn-primary center-block" ng-href="calendar">View Full Calendar</a>
  </div>
  <div ng-model="eventSources" ui-calendar="uiConfig" calendar="{{calendarId || 'calendarComp'}}"></div>
  <div class="pull-right">
    <sfk9unitpagemodal page-id="14856" link-title="Calendar/Events FAQ"></sfk9unitpagemodal>
  </div>
</div>
